<!DOCTYPE html>
<html>
<head>
  <title>SciTwits</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Include cloudinary -->
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

</head>
<body>
  <%= cloudinary_js_config %>

  <header class='header'>
    <nav class='header-nav'>
      <img src="../assets/SciTwits.png" alt="" class="logo"/>
      <% if current_user %>
        <label>Logged in: <%= current_user.username %></label>
        <%= button_to "&#xf08b; &nbsp; Logout".html_safe, sessions_url,
            method:"delete",
            class: "button-primary" %>
        <h5><a href="#projects/form">&#xf0a1; &nbsp; Share Research</a></h5>
      <% else %>
      <br>
      <%= button_to "&#xf090; &nbsp; Login".html_safe,
      new_sessions_url,
      method:'get',
      class: "button-primary" %>
      <%= button_to "&#xf007; &nbsp; Sign Up".html_safe,
      new_user_url,
      method:'get',
      class: "button-primary"%>
      <% end %>
    </nav>
  </header>

  <%= yield %><br></br>

  <footer class='footer'>
    <div class='footer-credit'>
      Credits:</br>
      Logo: Science Icons graphic by
      <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></br>
      Background videos and images are public domain resources downloaded from <a href="http://www.nasa.gov/multimedia/guidelines/index.html">NASA</a>.
      <h6>&#xf1f9;  2015. All Rights Reserved.</h6>
    </div>
  </footer>
  <%= render 'layouts/errors' %>
</body>

</html>
